<div{{ attributes.addClass('paragraph', 'paragraph--type--about-us', 'paragraph--view-mode--default', 'flex') }}>
 {{content|without("field_about_us_info1", "field_about_us_info2")}}

  <div class="field-info-group">
    <div class="info1">
      {{ content.field_about_us_info1 }}
    </div>
    <div class="info2">
      {{ content.field_about_us_info2 }}
    </div>
  </div>
</div>