@import "../config/_config.scss";

.paragraph--type--contact-us{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6em 0;

    @media #{$media-mobile-tablet} {
        
        .field--name-field-contact-title{

            font-size: 3em !important;
        }

        .webform-submission-form{

            flex-direction: column !important;
            width: 75% !important;   
            
            input {

                width: 90%;
                font-size: 0.9em;
            }
            .form-item{
                width: 100% !important;
            }
        }
    }

    input {

        width: 85%;
        color: $nnm-secondary;
        border: 0;
        border-radius: 5px;
        background-color: #ebeced;
        padding: 5%;
    }

    .field--name-field-contact-title {

        font-size: 4em;
        font-weight: bold;
        color: $nnm-main;
    }

    .field--name-field-contact-form  {

        margin: $content-margin;
        
        .webform-submission-form{

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 50%;
            box-sizing: border-box;
            font-size: 1.5em;
            margin: 0 auto;
        }

        .form-item {

            margin: 1% auto;
        }

        .form-item-name    {
            
            width: 50%;
        }

        .form-type-email   {
            width: 50%;
            
            .form-email {
                width: 90%;
            }
        }
        
        .form-item-message {

            width: 100%;
            
            .form-textarea {

                color: $nnm-secondary;
                padding: 2%;
                border: 0;
                border-radius: 5px;
                background-color: #ebeced;
                width: 100%;
            }
        }

        .form-submit{

            background-color: $nnm-main;
            color: $nnm-sub;
            border-style: none;
            width: 100%;
            height: auto;
            font-size: 1.3em;
            max-width: 100%;
            border-radius: 5px;  
            padding: 2%;
        }

        .form-actions {

            width: 100%;
        } 
    }

    .field--name-field-alt-contact-title {
        
        font-size: 1.5em;
    }

    .field--name-field-link-to-mail{

        font-size: 1.7em;
    }
}