.region.region-footer {

    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: $nnm-sub;

    @media #{$media-mobile-tablet}{

        .site-logo{
    
            img {

                width: 20em !important;
                height: auto !important;
            }
        }

        .view-content{

            font-size: 1em !important;
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
    
            .views-row{

                width: 40%;
                padding: 0% !important;
                margin-bottom: 4%;
            
                .views-field-info {

                    font-size: 1.5em;
                }
            }
        }

        .block-system-branding-block{
            
            text-align: center;
        }
    }

    .view-content{

        display: flex;
        font-size: 1.8em;
        justify-content: space-between;
        margin-right: 40% ;

        .views-field.views-field-info{
            
            font-weight: bold;
            color: #ED1C24;
        }

        .views-row{

            padding-top: 2%;
            padding-left: 6%;
        }
    }
    .site-logo{

        img {
            
            width: 30em;
            height: auto;
        }
    }

    .field--type-text-with-summary {
        
        color: $nnm-main;
        display: flex;
        justify-content: center;
        font-weight: bold;
        padding-top: 3%;
    }
}
