.region.region-header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    
    .menu-mobile {
        display:flex;
    }
    ul.menu {
        
        text-align: right;
        display: flex;

        &.open {
            background-color: hotpink;
        }
        
        li {
            
            :hover{
                background-color: #ebeced;
            }
        
            a {
                text-decoration: none;
                color: red;
                padding: 100px 20px 20px 20px ;
                font-weight: bold;
                font-size: 24px;
            }
        }
    }

    .block-system-branding-block{

        @media #{$media-mobile-tablet} {

            margin-left: -1.5em;
        }
    }
    
    .site-logo {

        img{

            @media #{$media-mobile-tablet} {
                
                width: 18em;
                height: auto;  
            }
        }
    }
}
