.field--name-field-intro{

    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-bottom: $title-margin-bottom;

    @media #{$media-mobile-tablet} {
        
        text-align: center;
        font-size: 1.2em;
    }
}