@import "../config/global";



/* assets

Main color: #ED1C24   # FF3333 - Logo, buttons, titles, icons etc...
Secondary color :     # EBECED - Input fields/ contact forms
Background color:     # FFFFFF


Typography: Arial (Sans-serif)

    headline: Arial Bold H1-H2 
    subtitle: Arial Regular 


*/

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    min-height: 100vh;
    

}
h1, h2{
    font-weight: bold;

}
.layout-content {

    max-width: 1000px;
    margin: auto;
}

.region.region-header {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    

    ul.menu {
        text-align: right;
        display: flex;
        
        
        li {
            
            :hover{
                background-color: #ebeced;
            }
        
            a {
                text-decoration: none;
                color: red;
                padding: 100px 20px 20px 20px ;
                font-weight: bold;
                font-size: 24px;
            }
        }
    }



    .site-logo {
        
        
        padding-left: 40px;

        img{
            margin-top: 1%;
            width: 450px;
            height: 150px;
        }
    }
    
}

.region.region-footer {


    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    width: 100%;
    
    

    .view-content{

        display: flex;
        font-size: 20px;
        margin-right: 59%;
        justify-content: space-between;


        .views-field.views-field-info{
            font-weight: bold;
            color: #ED1C24;
        }

        .views-row{

            padding-top: 2%;
            padding-left: 6%;
            

        }


    }
    .site-logo{

    
        img {
            width: 350px;
            height: 150px;
        }
    }

    .clearfix.text-formatted.field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item {
        color: red;
        display: flex;
        justify-content: center;
        font-weight: bold;
        padding-top: 3%;
    }



}


