@import "../config/global";



/* assets

Main color: #ED1C24   # FF3333 - Logo, buttons, titles, icons etc...
Secondary color :     # EBECED - Input fields/ contact forms
Background color:     # FFFFFF


Typography: Arial (Sans-serif)

    headline: Arial Bold H1-H2 
    subtitle: Arial Regular 


*/

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;

    

}
h1, h2{
    font-weight: bold;

}
.layout-content {

    max-width: 1000px;
    margin: auto;
}

.region.region-header {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    

    ul.menu {
        text-align: right;
        display: flex;
        
        
        li {
            
            :hover{
                background-color: #ebeced;
            }
        
            a {
                text-decoration: none;
                color: red;
                padding: 100px 20px 20px 20px ;
                font-weight: bold;
                font-size: 24px;
            }
        }
    }



    .site-logo {
        
        
        padding-left: 40px;

        img{
            margin-top: 1%;
            width: 450px;
            height: 150px;
        }
    }
    
}

.region.region-footer {


    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;
    

    .view-content{

        margin-right: 10%;
    }
    .site-logo{

    
        img {
            width: 250px;
            height: 100px;

        }
    }
}


